<div id=<%= device %> >
  <h4> ID: <%= device %> </h4>
  <ul class="list-group"></ul>
</div>
<script>
function OnConnect<%= device %>(connection)
{
  console.log("connected");
  connection.Send({action:"Get-Cards"});
}
function OnMessage<%= device %>(message, connection)
{
  console.log(message);
  if(message.response=="Get-Cards")
  {
    $("#<%= device%>").find("h4").html(message.data.name)
    for(var i=0;i<message.data.cards.length;i++)
    {
      var card = message.data.cards[i];
      var html = new EJS({url: '/templates/cardViews/'+card.type+'.ejs'}).render({card:card,id:makeId(),topic:connection.topic})
      $("#<%= device%>").find("ul").html(html);
    }
    //connection.Send({action:"Get-Time"});
  }
}

ConnectToTopic("<%=device%>", OnMessage<%=device%>, OnConnect<%=device%>);

</script>
