<div id=<%= device %> >
  <h4>
  </h4>
  <ul class="list-group"></ul>
</div>
<script>
var connected<%= device%> = false;
function OnTimeout<%= device%>(connection)
{
  if(!connected<%= device%>)
  {
    connection.socket.close();
    $("#<%= device%>").find("h4").html("Failed to load device. <button onclick='Connect<%=device%>()'>Retry</button>");
  }
}
function OnConnect<%= device %>(connection)
{
  console.log("connected");
  connection.Send({action:"Get-Cards"});
  timeout<%= device%> = setTimeout(function(){OnTimeout<%=device%>(connection);}, 5000);  
}
function OnMessage<%= device %>(message, connection)
{
  console.log(message);
  if(message.response=="Get-Cards")
  {
    connected<%= device%> = true;    
    $("#<%= device%>").find("h4").html(message.data.name)
    for(var i=0;i<message.data.cards.length;i++)
    {
      var card = message.data.cards[i];
      var html = new EJS({url: '/templates/cardViews/'+card.type+'.ejs'}).render({card:card,id:makeId(),topic:connection.topic})
      $("#<%= device%>").find("ul").html(html);
    }
  }
}

function Connect<%= device%>()
{
  ConnectToTopic("<%=device%>", OnMessage<%=device%>, OnConnect<%=device%>);
  $("#<%= device%>").find("h4").html("Loading Device...<div class='loader' id='deviceDisplay'></div>")
}
Connect<%= device%>();
</script>
