<div id=<%= device %> >
  <h4> ID: <%= device %> </h4>
</div>
<script>
function OnConnect<%= device %>(connection)
{
  console.log("connected");
  connection.Send({action:"Get-Cards"});
}
function OnMessage<%= device %>(message, connection)
{
  console.log(message);
  if(message.response=="Get-Time"){
    $("#<%= device%>").append(message.data);
  }
  if(message.response=="Get-Cards")
  {
    $("#<%= device%>").find("h4").html(message.data.name)
    connection.Send({action:"Get-Time"});
  }
}

ConnectToTopic("<%=device%>", OnMessage<%=device%>, OnConnect<%=device%>);

</script>
