    <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="/css/page.css" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="HandheldFriendly" content="true" />
    </head>
    <body class="teal lighten-1">
        <!-- Dropdown Structure -->
        <ul id="user" class="dropdown-content">
            <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="navbar-fixed">
            <nav class="teal darken-2">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center lime-text text-darken-1">Agg-Automation</a>
                    <a class="dropdown-button right lime-text text-darken-1 hide-on-small-only" data-beloworigin="true" href="#!" data-activates="user"><%= user.fullName%><i class="material-icons right">arrow_drop_down</i></a>
                    <a class="dropdown-button right lime-text text-darken-1 hide-on-med-and-up" data-beloworigin="true" href="#!" data-activates="user"><i class="material-icons right">menu</i></a>
                </div>
            </nav>
        </div>
        <% for(var i=0;i<devices.length;i++){ %>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card min-hieght">
                        <div class="card-content">
                            <div class="card-title">
                                <%= devices[i].description %>
                                <i class="pointer material-icons activator right">more_vert</i>
                            </div>
                            <div id="<%= devices[i].id%>">          
                                <div id="<%= devices[i].id%>-spinner" class="center row">
                                    <div class="progress col s12 m10 offset-m1">
                                        <div class="indeterminate"></div>
                                    </div>
                                </div>
                                <div id="<%= devices[i].id%>-retry" class="center" hidden>
                                    <div>
                                        Failed to connect.
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title">Options<i class="material-icons right">close</i></span>
                            <div class="row">
                            <form method="post" action="/update" class="col s12 m6 update<%= devices[i].id%>">
                                <input type="hidden" value="<%= devices[i].id%>" name="id">
                                    <div class="input-field">
                                        <input id="description" type="text" class="validate" name="description">
                                        <label for="description">Description</label>
                                    </div>
                            </form>
                            <form method="post" action="/delete" class="col s12 delete<%= devices[i].id%>">
                                <input type="hidden" value="<%= devices[i].id%>" name="id">
                            </form>
                            </div>
                            <button id="update<%= devices[i].id%>" class="btn waves-effect waves-light click" type="submit">Save
                                    <i class="material-icons right">send</i>
                            </button>
                            <button id="delete<%= devices[i].id%>" class="btn waves-effect waves-light click" type="submit">Delete
                                    <i class="material-icons right">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
        <% } %>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script src="/scripts/ejs.min.js"></script>
      <script>
        $(".click").click(function() {
            console.log("here");
            var id = $(this).attr("id");
            $("." + id).submit();
            });

            var devices = <%- JSON.stringify(devices)%>;
      </script>
      <script src="/scripts/devices.js"></script>
    </body>
  </html>