<li class="list-group-item" id="<%= id%>">
Time
</li>
<script>
function OnConnect<%= id %>(connection)
{
  console.log("connected");
  setInterval(function(){connection.Send({action:"Get-Time"});}, 1000);
}
function OnMessage<%= id %>(message, connection)
{
  if(message.response=="Get-Time"){
    $("#<%= id%>").html(message.data);
  }
}

ConnectToTopic("<%=topic%>", OnMessage<%=id%>, OnConnect<%=id%>);
</script>